name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    timeout-minutes: 20
    strategy:
      matrix:
        rust_version:
          - stable
          - "1.91.0" # MSRV
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: ${{ matrix.rust_version }}
          components: llvm-tools-preview
      - name: Add rustfmt
        run: rustup component add rustfmt
      - name: Add clippy
        run: rustup component add clippy
      - name: Set up cargo cache
        uses: Swatinem/rust-cache@v2
        with:
          prefix-key: ${{ runner.os }}-cargo
      - name: Install cargo-all-features
        run: cargo install cargo-all-features
      - uses: taiki-e/install-action@cargo-llvm-cov
      - uses: taiki-e/install-action@nextest
      - name: Format
        run: cargo fmt --all -- --check
      - name: Clippy
        run: cargo clippy
      - name: Build permutations
        run: cargo build-all-features
      - name: Run tests
        run: cargo llvm-cov --no-report nextest --all-features
      - name: Run doc tests
        run: cargo llvm-cov --no-report --doc --features lz4
      - name: Create code coverage report
        run: cargo llvm-cov report --doctests --lcov --output-path lcov.info
      - name: Upload coverage data to codecov
        uses: codecov/codecov-action@v3
        if: runner.os == 'Linux'
        with:
          files: lcov.info
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  cross:
    timeout-minutes: 15
    name: cross
    strategy:
      matrix:
        target:
          - aarch64-unknown-linux-gnu
          - aarch64-unknown-linux-musl
          - i686-unknown-linux-gnu
          - powerpc64-unknown-linux-gnu
          - riscv64gc-unknown-linux-gnu
          # - aarch64-linux-android
          # - i686-linux-android
          # - x86_64-linux-android
          #- mips64-unknown-linux-gnuabi64
          #- x86_64-apple-darwin
          #- aarch64-apple-darwin
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: cross test
        run: |
          cargo install cross
          cross test -r --features lz4 --target ${{ matrix.target }}
