name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    timeout-minutes: 20
    strategy:
      matrix:
        rust_version:
          - stable
          - "1.76.0" # MSRV
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust_version }}
      - name: Add rustfmt
        run: rustup component add rustfmt
      - name: Add clippy
        run: rustup component add clippy
      - name: Set up cargo cache
        uses: Swatinem/rust-cache@v2
        with:
          prefix-key: ${{ runner.os }}-cargo
          workspaces: >
            . -> target
            examples/kv -> target
      - name: Install cargo-all-features
        run: cargo install cargo-all-features
      - uses: taiki-e/install-action@nextest
      - name: Format
        run: cargo fmt --all -- --check
      - name: Clippy
        run: cargo clippy
      - name: Build permutations
        run: cargo build-all-features
      - name: Run tests
        run: cargo nextest run --all-features
      - name: Run doc tests
        run: cargo test --doc
      - name: Build & test LSM examples
        run: node compile_examples.mjs
  cross:
    timeout-minutes: 15
    name: cross
    strategy:
      matrix:
        target:
          - aarch64-unknown-linux-gnu
          - aarch64-unknown-linux-musl
          - i686-unknown-linux-gnu
          - powerpc64-unknown-linux-gnu
          - riscv64gc-unknown-linux-gnu
          # - aarch64-linux-android
          # - i686-linux-android
          # - x86_64-linux-android
          #- mips64-unknown-linux-gnuabi64
          #- x86_64-apple-darwin
          #- aarch64-apple-darwin
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: cross test
        run: |
          cargo install cross
          cross test -r --features lz4,miniz --target ${{ matrix.target }}
